.App {
  text-align: center;
}

@font-face {
  font-family: 'Nasalization';
  font-style: normal;
  font-weight: normal;
  src: local('Nasalization'), url('Nasalization Rg.otf') format('opentype');
}

h1 {
  font-family: 'Nasalization';
  font-weight: 100;
  color: #000000;
  font-size: 4rem;
}

Map {
  max-width: 100rem;
  max-height: 100rem;
}